body {
  font-family: Montserrat,sans-serif;
}
button.mint {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}
.header {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
}
.header > div {
  padding: 20px;
}
.content {
  padding: 20px;
  text-align: center;
}
.content > .title {
  padding-top: 10px;
  font-size: 30px;
}
.content > .image {
  padding-top: 30px;
}
.content > .image > img {
  width: 100%;
}
.content > .mint {
  padding-top: 50px;
}
.content > .external {
  padding-top: 50px;
}
.content > .external a {
  text-decoration: none;
}
.content > .external img {
  width: 50px;
  height: 50px;
  padding: 20px;
}
.content > .tokenuri {
  padding-top: 10px;
  font-size: 20px;
}
.content > .tokenuri > .value {
  padding-top: 10px;
}
.content > .tokenuri .textarea {
  width: 100%;
  height: 200px;
}
.content > .tokenuri > .image {
  padding-top: 10px;
  width: 100%;
  padding-bottom: 10px;
}
.content > .tokenuri > .image > img {
  width: 200px;
  height: 200px;
  text-align: center;
}
input.tokenid {
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 14px;
  padding: 9px;
  width: 60px;
}
button.tokenuri {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}
.footer {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}
